body {
    background-color: #FF98E6; 
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
}

.textos {
    margin-top: 2rem;
}

.cont {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.camp {
    width: 400px; /* Aumentei a largura do campo */
    height: 50px;
    border-radius: 5px;
    border: 2px solid #E4C600;
}

.ok {
    width: 50px;
    cursor: pointer;
}

.computer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2rem;
}

.computer-image img {   
    width: 300px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .camp {
        width: 102%;
        height: 45px;
        margin-left: 10%;
    }

    .ok {
        width: 75px;
        height: 75px;
    }

    .computer-image img {
        width: 80%;
    }
}